@font-face {
    font-family: 'NeueMontrealBook';
    src: url('PPNeueMontreal-Book.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontrealBold';
    src: url('PPNeueMontreal-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontrealThin';
    src: url('PPNeueMontreal-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontrealMedium';
    src: url('PPNeueMontreal-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    line-height: 1.5rem;
    letter-spacing: 2px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "NeueMontrealBook", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    width: 100vw;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 1rem;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 1px;
}

a {
    font-family: NeueMontrealBold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 700;
    border: solid 2px black;
    padding: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}

nav div {
    display: flex;
}

nav div a {
    font-family: NeueMontrealBold;;
    font-size: 0.7rem;
    font-weight: unset;
    border: unset;
    padding: 0.5rem;
    text-align: left;
}

header section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 70%;
    gap: 20%;
}

.bx {
    font-size: 2rem;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h1 {
    font-weight: 900;
    font-size: 2rem;
    text-align: left;
    padding-right: 1rem;
    line-height: 3rem;
}

.subheading {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-left: black solid 3px;
    padding-left: 1rem;
}

h2 {
    font-family: NeueMontrealMedium;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    line-height: 3rem;
}

h3 {
    font-family: NeueMontrealBold;
    font-size: 1.3rem;
    width: 100%;
    text-align: left;
    line-height: 3rem;
}

h4 {
    font-size: 1rem;
    width: 70%;
    text-align: center;
    display: none;
}

img {
    border-top: 2px white solid;
    padding-top: 1rem;
    width: 100%;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.links {
    width: 100%;
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}

.links div {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.links div a {
    font-size: 0.7rem;
    width: 30%;
    padding: 5px 15px;
    text-align: center;
}

.info {
    margin-top: 10px;
    border-top: black solid 5px;
    border-bottom: black solid 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;
    min-height: 100vh;
    position: relative;
}

.info div {
    gap: 1rem;
}

.about {
    display: flex;
    padding: 5% 5% 10% 5%;
    margin-top: 3rem;
}

.about h3 {
    text-align: left;
    border-left: black solid 2px;
    padding-left: 1rem;
}

.about p {
    text-align: left;
    font-size: 0.8rem;
}

.skills {
    display: flex;
    padding: 5% 5% 10% 5%;
}

.skills h3 {
    text-align: right;
    border-right: black solid 2px;
    padding-right: 1rem;
}

.skills p {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.5rem;
    word-spacing: 3px;
}

span {
    font-family: NeueMontrealBold;
    font-size: 1rem;
}

.projects {
    width: 100%;
    margin: 1px;
    padding: 5% 10% 20% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.projects a {
    width: 100%;
    display: unset;
    flex-direction: unset;
    justify-content: unset;
    font-weight: unset;
    border: unset;
    padding: 4rem 0;
    background-size: cover;
    margin: 0.5rem;
}

.movie_app {
    background-image: url("movie_app.png");
}

.collector_app {
    background-image: url("generic_pic2.webp");
}

.game {
    background-image: url("doom_2016.jpg");
}

.social {
    background-image: url("social_site.webp");
}

.subsection_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px black solid;
}

.subsection_container div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.subsection_container p {
    border-left: black solid 2px;
    padding-left: 1rem;
}

.subsection_container h5 {
    width: 90%;
    font-size: 1.2rem;
    font-family: NeueMontrealMedium;
}

p.project_description {
    font-size: 0.8rem;
}

.page_2_links {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    border: none;
    top: 1rem;
    position: absolute;
}

.page_2_links a {
    border: none;
    font-family: NeueMontrealThin;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    font-size: 0.8rem;
}

.page_3_links {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border: none;
    top: 1rem;
    position: sticky;
    font-family: NeueMontrealThin;
    font-size: smaller;
}

#project_nav_bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.51);
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 8px;
    font-family: NeueMontrealThin;
}

.subsection_container div .click_prompt_for_mobile {
    word-spacing: unset;
    letter-spacing: unset;
    font-size: smaller;
    line-height: 0.8rem;
    font-family: NeueMontrealThin;
}

@media (min-width: 850px) {

    .info {
        padding: 0 10%;
        justify-content: center;
    }

    .info p {
        font-size: 1.25rem;
        letter-spacing: 2px;
        line-height: 1.5rem;
        font-family: NeueMontrealBook;
    }

    header {
        padding: 1.5rem 5% 0 5%;
        min-height: 650px;
        margin-bottom: 10px;
    }

    header h4 {
        display: unset;
    }

    .links div a {
        width: 11rem;
        height: 10rem;
        font-size: 1rem;
        padding: 2rem;
        text-align: center;
        border: black 4px solid;
    }

    nav {
        height: 2rem;
    }

    .email {
        font-size: 0.8rem;
    }

    .git_li_links {
        display: flex;
    }

    .hero {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }

    h1 {
        font-size: 3rem;
        align-items: center;
        padding-right: 1rem;
        line-height: 4rem;
    }

    h2 {
        font-size: 3rem;
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 1rem;
        border-bottom: black solid 3px;
    }

    h3 {
        font-size: 3rem;
        text-align: left;
        margin-top: 1rem;

    }

    .subheading {
        height: 100%;
        justify-content: center;
        align-items: flex-start;
    }

    h4 {
        width: 100vw;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        word-spacing: 2rem;
        line-height: 2rem;
    }

    .links {
        flex-direction: row;
        justify-content: center;
    }

    nav div a {
        font-size: 1rem;
        font-weight: 100;
        display: flex;
        align-items: center;
        width: unset;
        padding: 3px;
        margin: unset;
    }

    a:hover {
        background-color: black;
        color: white;
    }

    .about h3 {
        padding-left: 4rem;
        padding-top: 1rem;
    }

    .about p {
        line-height: 2rem;
    }

    .skills p {
        word-spacing: 1.75rem;
        line-height: 3.2rem;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }

    .skills h3 {
        width: 30%;
        padding-right: 4rem;
        padding-top: 1rem;
    }

    .info p span {
        font-size: 1.75rem;
    }

    .projects {
        padding-top: 5rem;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .subsection_container {
        margin: 1rem 0;
        width: 600px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-bottom: unset;
    }

    .projects a {
        padding: 6rem 9rem;
        justify-content: space-around;
    }

    .subsection_container h5 {
        font-size: 1.5rem;
        font-family: NeueMontrealBold;
    }

    p.project_description {
        font-size: 1rem;
        font-family: NeueMontrealBook;
        padding-left: 1rem;
    }

    .page_3_links {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        justify-content: space-between;
    }

    .page_3_links a {
        font-size: 1rem;
        padding: 5px 15px;
        text-align: center;
        max-width: 150px;
        min-width: 149px;
        background-color: rgba(255, 255, 255, 0.43);
    }

    a:hover {
        background-color: black;
        color: white;
    }

    .subsection_container a:hover {
        filter: blur(3.5px);
    }

    #project_nav_bar a {
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.51);
        padding: 0.8rem 0.8rem 0.8rem 0.8rem;
        font-size: 0.8rem;
        border-radius: 8px;
    }

    #project_nav_bar a:hover {
        background-color: black;
        color: white;
    }

}
