* {
  box-sizing: border-box;
  font-family: "Fira Sans";
  line-height: 1;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  width: 100vw;
}

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5% 0 5%;
}

nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 5%;
  border-bottom: grey solid 1px;
}

nav a {
  font-size: 0.8rem;
  font-weight: unset;
  border: unset;
  padding: unset;
  text-align: left;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 700;
  border: solid 1px black;
  /*border-radius: 5px;*/
  padding: 5px;
  text-decoration: none;
  color: black;
}

header section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
  height: 30%;
  gap: 20%;
  padding-bottom: 20%;
}

.hero {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subheading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-weight: 900;
  font-size: 2rem;
  text-align: right;
}

h2 {
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
}

h3 {
  font-size: 1.3rem;
  width: 100%;
  text-align: right;
}

h4 {
  font-size: 1rem;
  width: 70%;
  text-align: center;
}

img {
  border-top: 2px white solid;
  padding-top: 1rem;
  width: 100%;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.links {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.links div {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

}

.info {
  border-top: black solid 5px;
  border-bottom: black solid 5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20% 10%;
}

.info div {
  gap: 1rem;
}

.about {
  display: flex;
  /*height: 50%;*/
  padding: 5% 5% 10% 5%;

}

.about h3 {
  text-align: left;
  border-left: black solid 2px;
  padding-left: 1rem;
}

.about p {
  text-align: left;
}

.skills {
  display: flex;
  /*height: 50%;*/
  padding: 5% 5% 10% 5%;
}

.skills h3 {
  text-align: right;
  border-right: black solid 2px;
  padding-right: 1rem;
}

.skills p {
  text-align: left;
}
.projects {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10% 10% 10%;
  gap: 1rem;
}

.projects div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*border-bottom: solid 2px white;*/
  padding-bottom: 1rem;
}

.projects h1 {
  font-size: 2rem;
}

.projects div h2 {
  text-align: left;
  font-size: 1rem;
}

.projects div p {
  line-height: 1.1rem;
  padding: 0 0.5rem;
  text-align: left;
}

.projects a {

  color: white;
  border: solid 1px white;
  font-size: 0.8rem;
}

.projects div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10%;
  border: none;
}


@media (min-width: 1000px) {
  /* Styles for screens up to 1000px wide */
  /* Adjustments for smaller screens go here */
  header {
    padding: 1.5rem 5% 0 5%;
  }
  nav div a {
    font-size: 1.5rem;
    color: gray;
  }

  .hero {
    flex-direction: row;
    justify-content: space-around;
    gap: 2.5rem;
  }

  h1 {
    font-size: 7rem;
    align-items: center;
    border-right: 4px solid black;
    padding-right: 1rem;
  }

  h2 {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: black solid 3px;
  }

  h3 {
    font-size: 3rem;
    text-align: left;
    margin-top: 1rem;

  }
  .subheading {
    height: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  h4 {
    width: 100vw;
    font-size: 1.5rem;
    padding-top: 3rem;
    word-spacing: 3rem;
  }

  .links {
    flex-direction: row;
  }

  a {
    width: 11rem;
    height: 10rem;
    font-size: 1rem;
    /*padding: 4rem 4rem;*/
    text-align: center;
    border: black 4px solid;
  }

  nav div a {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: unset;
    height: 1rem;
    padding: 0.5rem;
  }
  a:hover {
    background-color: black;
    color: white;

  }
}