* {
  box-sizing: border-box;
  font-family: "Fira Sans";
  line-height: 1;
  /* border: 1px solid black; */
}

body {
  min-width: 320px;

  width: 100vw;
}

header {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15% 5% 10% 5%;

}

header section {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 50%;
  gap: 10vw;
}

header section div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header section div div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 900;
}

h1 {
  width: 70%;
  font-weight: 900;
  font-size: 3rem;
  text-align: right;
}

h2 {
  width: 70%;
  text-align: right;
  font-size: 1rem;
}

h3 {
  width: 70%;
  text-align: right;
}

h4 {
  width: 70%;
  font-size: 0.7rem;
  text-align: right;
}